/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../sass/base/_base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/* line 29, ../sass/base/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 34, ../sass/base/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 43, ../sass/base/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 58, ../sass/base/_base.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/base/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/base/_base.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 89, ../sass/base/_base.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 124, ../sass/base/_base.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/* line 137, ../sass/base/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 157, ../sass/base/_base.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 174, ../sass/base/_base.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 190, ../sass/base/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 196, ../sass/base/_base.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 224, ../sass/base/_base.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 234, ../sass/base/_base.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 239, ../sass/base/_base.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 243, ../sass/base/_base.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 252, ../sass/base/_base.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 257, ../sass/base/_base.scss */
  pre {
    white-space: pre-wrap !important;
  }

  /* line 260, ../sass/base/_base.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 271, ../sass/base/_base.scss */
  thead {
    display: table-header-group;
  }

  /* line 275, ../sass/base/_base.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 280, ../sass/base/_base.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 287, ../sass/base/_base.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../sass/helpers/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../sass/helpers/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../sass/helpers/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../sass/helpers/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../sass/helpers/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../sass/helpers/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../sass/helpers/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../sass/helpers/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../sass/helpers/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../sass/helpers/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../sass/helpers/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../sass/helpers/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../sass/helpers/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../sass/helpers/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../sass/helpers/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../sass/helpers/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../sass/helpers/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../sass/helpers/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../sass/helpers/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, ../sass/helpers/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, ../sass/helpers/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, ../sass/helpers/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, ../sass/helpers/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, ../sass/helpers/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, ../sass/helpers/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, ../sass/helpers/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, ../sass/helpers/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, ../sass/helpers/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, ../sass/helpers/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, ../sass/helpers/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, ../sass/helpers/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, ../sass/helpers/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, ../sass/helpers/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, ../sass/helpers/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, ../sass/helpers/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, ../sass/helpers/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, ../sass/helpers/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, ../sass/helpers/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, ../sass/helpers/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, ../sass/helpers/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, ../sass/helpers/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, ../sass/helpers/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, ../sass/helpers/_normalize.scss */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'code-bold';
  src: url("../assets/fonts/code-bold-webfont.woff2") format("woff2"), url("../assets/fonts/code-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gravity-light';
  src: url("../assets/fonts/gravity-light-webfont.woff2") format("woff2"), url("../assets/fonts/gravity-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 21, ../sass/variables/_typography.scss */
h1 {
  font-family: "code-bold", Arial, Helvetica, sans-serif;
  font-size: 3.125em;
  text-transform: uppercase;
  text-align: center;
  color: #d3d2d2;
}

/* line 29, ../sass/variables/_typography.scss */
h2 {
  font-family: "gravity-light", Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-transform: capitalize;
  color: #d3d2d2;
  line-height: 2;
}

/* line 37, ../sass/variables/_typography.scss */
h3 {
  font-family: "gravity-light", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: capitalize;
  color: #d3d2d2;
  line-height: 2;
}

/* line 45, ../sass/variables/_typography.scss */
p {
  font-family: "gravity-light", Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  color: #d3d2d2;
}

/* line 1, ../sass/layouts/_layouts.scss */
.background__primary--fullWidth {
  background-color: #31353d;
  width: 100%;
}

/* line 6, ../sass/layouts/_layouts.scss */
.bodyContainer__primary {
  width: 100%;
  padding: 1.5em;
  background: #31353d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #31353d 50%, #445878 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #31353d 50%, #445878 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #31353d 50%, #445878 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31353d', endColorstr='#445878',GradientType=0 );
  /* IE6-9 */
}

/* line 12, ../sass/layouts/_layouts.scss */
.bodyContainer__secondary {
  width: 100%;
  padding: 1.5em;
  background: #445878;
  /* Old browsers */
  background: -moz-linear-gradient(top, #445878 50%, #31353d 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #445878 50%, #31353d 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #445878 50%, #31353d 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31353d', endColorstr='#445878',GradientType=0 );
  /* IE6-9 */
}

/* line 18, ../sass/layouts/_layouts.scss */
.img__primary {
  margin: 1em 0;
}
/* line 20, ../sass/layouts/_layouts.scss */
.img__primary img {
  max-width: 300px;
  width: 100%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}

/* line 29, ../sass/layouts/_layouts.scss */
.paraContainer__primary {
  max-width: 450px;
}

/* line 33, ../sass/layouts/_layouts.scss */
.text--inline {
  max-width: 450px;
}
/* line 35, ../sass/layouts/_layouts.scss */
.text--inline h3 {
  display: inline-block;
}
/* line 39, ../sass/layouts/_layouts.scss */
.text--inline .text--right {
  float: right;
}

/* line 1, ../sass/components/_nav.scss */
.nav-logo {
  width: 100px;
  margin-right: 10px;
}

/* line 6, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #92cdcf;
}

/* line 10, ../sass/components/_nav.scss */
.navbar-toggler {
  background-color: #d3d2d2;
}

/* line 14, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .nav-link {
  font-family: "code-bold", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #d3d2d2;
  margin-right: 6px;
}
/* line 19, ../sass/components/_nav.scss */
.navbar-light .navbar-nav .nav-link:hover {
  color: white;
}

@media only screen and (min-width: 1200px) {
  /* line 25, ../sass/components/_nav.scss */
  .nav-logo {
    margin-right: 20px;
  }

  /* line 29, ../sass/components/_nav.scss */
  .navbar-light .navbar-nav .nav-link {
    margin-right: 20px;
  }
}
/* line 1, ../sass/components/_hero.scss */
.hero__primary {
  height: 80vh;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 10, ../sass/components/_hero.scss */
.hero__primary--index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/hero01.jpg);
}

/* line 19, ../sass/components/_hero.scss */
.hero__pageTitle {
  position: absolute;
  width: 100%;
  top: 65vh;
  color: white;
}
/* line 24, ../sass/components/_hero.scss */
.hero__pageTitle h1 {
  text-align: center;
}
