.footer__upArrow {
    padding: 10px;
    max-width: 100px;
    width: 100%;
    display: block;
    margin: 0 auto;
    a {
        text-decoration: none;
    }
}

.footer__socialBar {
    display: flex;
    justify-content: center;
    div {
        img {
            margin: 0 10px;
            width: 50px;
        }
    }
}

.footer__text{
    font-family: $secondary-font;
    font-size: 1.1em;
    color: $primary-font-color;
    text-align: center;
}