.hero__primary {
    height: 80vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__primary--index {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero01.jpg);
}

.hero__pageTitle {
    position: absolute;
    width: 100%;
    top: 65vh;
    h1 {
        text-align: center;
        color: white; 
    }
}

.hero__primary--gallery {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero02.jpg);
}

.hero__primary--contact {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero03.jpg);
}

.hero__primary--music {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero04.jpg);
}

.hero__primary--events {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero05.jpg);
}

.hero__primary--press {
    background-image:
        linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ),
        url(../assets/img/hero06.jpg);
}