.nav-logo {
    width: 100px;
    margin-right: 10px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: $highlight-color;
}

.navbar-toggler {
    background-color: $primary-font-color;
}

.navbar-light .navbar-nav .nav-link {
    font-family: $primary-font;
    font-size: 1.5em;
    color: $primary-font-color;
    margin-right: 6px;
    &:hover {
        color: white;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-logo {
        margin-right: 20px;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 20px;
    }
}