.nav-logo {
    width: 100px;
}

// .navbar {
//     background-color: $dark-background-color;
// }

// .navbar-toggler {
//     //background-color: white;
// }

a.nav-link {
    font-family: $primary-font;
    font-size: 1.5em;
    color: $primary-font-color;
}