@font-face {
    font-family: 'code-bold';
    src: url('../assets/fonts/code-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/code-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravity-light';
    src: url('../assets/fonts/gravity-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/gravity-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$primary-font: 'code-bold', Arial, Helvetica, sans-serif;

$secondary-font: 'gravity-light', Arial, Helvetica, sans-serif;

h1 {
    font-family: $primary-font;
    font-size: 3.125em;
    text-transform: uppercase;
}

h2 {
    font-family: $secondary-font;
    font-size: 2em;
    text-transform: capitalize;
}

h3 {
    font-family: $secondary-font;
    font-size: 1.5em;
    text-transform: capitalize;
}

p {
    font-family: $secondary-font;
    font-size: 1.25em;
}