// PERCENTAGES WOULD NEED TO BE VARIABLES TO REUSE
// FILTER IS HARD CODED
@mixin linearGradient($top, $bottom) {
    background: $top; /* Old browsers */
	background: -moz-linear-gradient(top,  $top 50%, $bottom 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  $top 50%, $bottom 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  $top 50%, $bottom 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31353d', endColorstr='#445878',GradientType=0 ); /* IE6-9 */
}

@mixin borderRadius($size) {
    -webkit-border-radius: $size + px;
    -moz-border-radius: $size + px;
    border-radius: $size + px;  
}