.background__primary--fullWidth {
    background-color: $dark-background-color;
    width: 100%;
}

.background__secondary--fullWidth {
    background-color: black;
    width: 100%;
}

.bodyContainer__primary {
    width: 100%;
    padding: 1.5em;
    @include linearGradient($dark-background-color, $light-background-color);
}

.bodyContainer__secondary {
    width: 100%;
    padding: 1.5em;
    @include linearGradient($light-background-color, $dark-background-color);
}

.img__primary {
    margin: 1em 0;
    img {
        max-width: 300px;
        width: 100%;
        @include borderRadius(20);
        display: block;
        margin: 0 auto;
    }
}

.text--inline {
    max-width: 450px;
    h4 {
        display: inline-block;
    }
    
    .text--right {
        float:right;
    }
}