.background__primary--fullWidth {
    background-color: $dark-background-color;
    width: 100vw;
}

.bodyContainer__primary {
    width: 100vw;
    padding: 5em;
    @include linearGradient($dark-background-color, $light-background-color);
}

.bodyContainer__secondary {
    width: 100vw;
    padding: 5em;
    @include linearGradient($light-background-color, $dark-background-color);
}